#home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    height: calc(100vh - 86px);
    margin-top: 15px;
}

.home-left {
    grid-column: 1 / span 11;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 515px;
}

.content {
    border-radius: 10px;
    border: 3px solid #ECCD48;
    background-color: #0d1b2a;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.content::-webkit-scrollbar {
    width: 4px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #ECCD48;
    border-radius: 8px;
}

.google-ad-top {
    background-color: rgb(229, 223, 223);
    height: 90px;
    width: 728px;
    flex-shrink: 0;
    margin: 15px 0;
}

.google-ad-right {
    width: 300px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 15px 0;
}

.google-ad-right-top,
.google-ad-right-bottom {
    height: 250px;
    background-color: rgb(229, 223, 223);
}

.google-ad-right-small {
    background-color: rgb(229, 223, 223);
    height: 50px;
}

.footer-ad {
    display: none;
    grid-column: 1 / span 12;
    height: 50px;
    background-color: rgb(229, 223, 223);
}

footer {
    height: 50px;
    background-color: lightgray;
    flex-shrink: 0;
}

@media (max-width: 1060px) {
    .home-left {
        grid-column: 1 / span 12;
    }

    .google-ad-right {
        display: none;
    }

    .google-ad-top,
    .footer-ad {
        width: 320px;
        height: 50px;
    }

    .footer-ad {
        display: block;
        margin: 0 auto;
    }
}

