main {
    display: flex;
    margin-top: 20px;
}

.dropdown-container img {
    height: 30px;
    width: 30px;
}

.addlinks-top {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px;
    gap: 30px;
    align-items: center;
}

.addlinks-top label {
    padding-right: 10px;
    color: white;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 16px;
}

.addlinks-typeOne,
.addlinks-typeTwo {
    display: flex;
    align-items: center;
}

.addlinks-top input[type='radio'] {
    width: 20px;
    height: 20px;
}


.addlinks-content {
    width: 100%;
    margin-top: 15px;
}

.addlinks-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    gap: 28px;
}

.addlinks-head {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: #0D1B2A;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    padding: 7px 0;
    font-weight: bold;
    font-family: 'Josefin Sans';
    margin: 50px auto;
}


.addlinks-url {
    grid-column: 2 / span 5;
    text-align: center;
    color: #0D1B2A;
    background-color: #ECCD48;
    border-radius: 5px;
    height: 40px;
    padding: 7px 0;
    font-weight: bold;
    font-family: 'Josefin Sans';
}


.addlinks-topic {
    grid-column: 8 / span 3;
    text-align: center;
    color: #0D1B2A;
    background-color: #ECCD48;
    border-radius: 5px;
    height: 40px;
    padding: 7px 0;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

.addlinks-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addlinks-row-one {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.addlinks-number {
    grid-column: 1 / span 1;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Josefin Sans';
    background-color: #415A77;
    border: 1px solid #ECCD48;
    color: white;
    text-align: center;
    width: 40px;
}

.addlinks-row-one input[type='text'] {
    grid-column: 2 / span 5;
    text-align: center;
}

.addlinks-row-one select {
    grid-column: 8 / span 3;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    background-color: #0D1B2A;
    border: 2px solid #ECCD48;
    outline: 0;
    color: white;
}

.addlinks-row-one img {
    grid-column: 12 / span 1;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    color: white;
}

.addlinks-row-one input {
    height: 40px;
    padding: 5px 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    background-color: transparent;
    border: 2px solid #ECCD48;
    border-radius: 5px;
    outline: 0;
}

.addlinks-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.addlinks-content button {
    height: 40px;
    width: 140px;
    display: flex;
    gap: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

.addlinks-actions .check {
    background-color: #5FBE5F;
}

.addlinks-actions .add {
    background-color: #808080;
}

.add-icon-links{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


@media(max-width:572px) {
    .addlinks-number {
        width: 25px;
    }
}