.video-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 10px;
}

.show-video {
    grid-column: 1/span 12;
    margin: 5px;
    color: white;
    font-family: 'Josefin Sans';

}

.show-video-title .back-icon{
    width: 30px;
}

.show-video-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid #415A77;
    border-radius: 10px;
    background-color: #0D1B2A;
    font-family: 'Josefin Sans';
    padding: 5px;
    min-height: calc(100vh -216px);
}


.show-video-content .video {
    width: 100%;
    background-color: gray;
    height: calc(100vh - 286px);
}

  @media(max-width:969px){

    .show-video {
        grid-column: 1/span 12;
    }

    .icons img{
        display: none;
      }
  }
